/* js - slide */

[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

[data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

[data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #121212;
  margin-top: -100px;
  position: relative;
}

[data-slide-nav] button.active {
  background: orange;
}

/* js - animação */

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

/* Estilos Gerais */

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Dudu Calligraphy", Helvetica, Arial, sans-serif;
  color: black;
}

::selection {
  color: #fff;
  background: #000;
}

ul {
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a:visited {
  color: black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 360px;
  }
}

/* Header */

.header {
  padding: 20px 0;
}

.header-nav {
  flex: 1;
  margin: 0 10px;
  align-self: center;
}

.header-nav a {
  box-shadow: inset 0 0 0 0 #fff;
  font-size: 1.125em;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.header-nav a:hover {
  box-shadow: inset 100px 0 0 0 #000;
  color: #fff;
  border-radius: 3px;
}

.header-logo {
  padding: 0 10px;
}

.header-nav ul {
  float: right;
  display: flex;
  list-style: none;
}

.header-nav ul li a {
  padding: 10px;
}

@media (max-width: 739px) {
  .header {
    padding: 15px 0px 15px 0;
    max-width: 360px;
    margin: 0 auto;
  }

  .header-logo {
    max-width: 120px;
  }

  .header-nav a {
    box-shadow: inset 0 0 0 0 #fff;
    border: 1px solid white;
    margin-left: 5px;
    border-radius: 5px;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .header-nav a:hover {
    box-shadow: inset 100px 0 0 0 #fff;
    color: #0029f7;
  }
}

/* Apresentação */

.apresentacao-bg {
  background: url(../img/ap-bg.png) no-repeat center;
  background-size: cover;
}

@media (max-width: 800px) {
  .apresentacao-bg {
    background: url("../img/bg-mobile.jpg") no-repeat center;
    height: 100vh;
  }
}

.apresentacao {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 30px 0;
}

.apresentacao-title {
  font-size: 3.25em;
  color: white;
}

.apresentacao-title:after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}

.apresentacao p {
  color: white;
  font: 2.25em;
  font-weight: bold;
}

.apresentacao-title::selection,
.apresentacao p::selection {
  background: #fff;
  color: #000;
}

.btn {
  background-color: transparent;
  width: 160px;
  height: 50px;
  border: 3px solid #fff;
  cursor: pointer;
  display: table;
  margin: 0 auto;
}

.ap-btn {
  padding-bottom: 30px;
}

.btn a {
  color: white;
  font-family: "Dudu Calligraphy", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: bold;
}
/* Slide */

.slide-bg {
  height: 500px;
}

.slide-photos {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 60px;
}

@media (max-width: 800px) {
  .slide {
    display: none;
  }
}

/* About */

.about-bg {
  background: url("../img/about-bg.png") no-repeat center;
  background-size: cover;
}

@media (max-width: 800px) {
  .about-bg {
    height: 100%;
    background: url("../img/about-bg.png") no-repeat center;
    background-size: cover;
  }
}

.about-text {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 30px;
}

.about-text h1 {
  font-size: 2.25em;
  color: black;
  margin-top: 60px;
}

.about-text h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1.125em;
  margin-top: 15px;
  font-weight: bold;
}

.last-text {
  margin-bottom: 60px;
}

/* Reviews */

.reviews-bg {
  background: url("../img/reviews-bg.png") no-repeat center;
  background-size: cover;
}

.reviews-bg-2 {
  margin-top: 60px;
}

@media (max-width: 800px) {
  .reviews-bg {
    height: 100%;
    background: url("../img/reviews-bg.png") no-repeat center;
    background-size: cover;
  }
}

.reviews {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 30px;
}

.ign-text,
.pcworld-text {
  font-size: 1.125em;
  font-weight: bold;
}

.ign-text:before,
.pcworld-text:before {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background-color: black;
  margin-top: -10px;
  margin-bottom: 20px;
}

.ign-reviewer,
.pcworld-reviewer {
  text-align: right;
  font-size: 1.25em;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.pcworld-logo {
  margin-bottom: 20px;
}

.ign-review {
  margin-bottom: 60px;
}

.pcworld-review {
  margin-bottom: 60px;
}

/* Photos */

.photos-bg {
  background: url("../img/photos-bg.png") no-repeat center;
  background-size: cover;
}

@media (max-width: 800px) {
  .photos-bg {
    height: 100%;
    background: url("../img/photos-bg.png") no-repeat center;
    background-size: cover;
  }
}

.photo {
  flex: 1;
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

.photos-pc {
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0 10px;
}

.photos-2 {
  padding: 0 10px;
}

.photos-title-bg {
  max-width: 960px;
  margin: 0 auto;
}

.photos-title {
  font-size: 2.25em;
  margin-top: 30px;
  padding: 0 15px;
}

.photos-title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: black;
  margin-top: 10px;
}

/* DropDown Menu */

.dropdown {
  align-self: center;
  position: relative;
}

.dropdown-img {
  height: 20px;
  width: 20px;
  margin: 0 auto;
}

.dropbtn {
  display: none;
  background: #fff;
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 60px;
}

.header .container {
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -15px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  border-radius: 10px;
}
.dropdown-content a {
  color: #000;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
  font-size: 1.5em;
  border-radius: 10px;
  font-weight: bold;
}

.dropdown-content a::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #000;
  border-radius: 10px;
}

.show {
  display: block;
}

.vsgtransform {
  transform: rotate(90deg);
  transition: 300ms;
}

.reversevsg {
  transform: rotate(0deg);
  transition: 300ms;
}

@media (max-width: 739px) {
  .dropbtn {
    display: inline-block;
    align-self: center;
  }

  .header-nav {
    display: none;
  }
}

/* Animation */

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
